@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&family=Inter:wght@400;700&display=swap');

:root {
  font-size: 1.25rem; /* 22px to rem */
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-primary: #5D2F56;
  --color-secondary: #A33993;
  --color-tertiary: #B26BA6;
  --color-quaternary: #DC82CD;
  --color-dark-gray: #3D3D3D;
  --color-gray: #A9A9A9;
  --color-light-gray: #D3D3D3;
  --color-white: #F0F0F0;

  --text-color-header: var(--color-primary);
  --text-color-dark: var(--color-dark-gray);
  --text-color-light: var(--color-white);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --section-gap: 160px;

  --background-color-white: var(--color-white);
  --background-color-quaternary: var(--color-quaternary);
  --background-color-primary: var(--color-primary);
  --background-color-dark: var(--color-dark-gray);
}

body {

  min-height: 100vh;
  color: var(--text-color-dark);
  background: var(--background-color-white);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.primary-color {
  color: var(--color-primary);
}
.p-bigger {
  position: relative;
  left: 0;
  font-size: 3rem;
  line-height: 1;
  margin:0;
}
.btn-primary, .btn-secondary {
  padding: 0.75rem 1.5rem; /* Adjusted padding */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  max-width: 40%;
  width:150px;

}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-tertiary);
}

.btn-secondary:hover {
  background-color: var(--color-quaternary);
}