.feature {
    margin: 0;
    background-color: var(--background-color-quaternary);
    width: 100vw;
    position: relative;
    left:0;
    color: var(--text-color-light);
    overflow: hidden;
    z-index: 0;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
    padding: 24px;
}

.feature-grid > * {
    grid-column: span 2;
}

.feature-grid > *:nth-last-child(2),
.feature-grid > *:nth-last-child(1) {
    grid-column: span 3;
}

.wave-top-path{
    
    width: 100%;
    height: auto;
    z-index: 1;
    fill:var(--background-color-quaternary);
}

.wave-top{
    position: absolute;
    bottom: -4rem;
    left: 0;

}
.wave-bottom-path{
    
    width: 100%;
    height: auto;
    z-index: 1;
    fill:var(--background-color-quaternary);


}

.wave-bottom{
    position: absolute;

    left: 0;


}
