.create-user {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-user h2 {
    margin-top: 0;
}

.create-user form div {
    margin-bottom: 10px;
}

.create-user label {
    display: block;
    margin-bottom: 5px;
}

.create-user input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.create-user button {
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.create-user select {
    width: 100%;
    padding: 12px; /* Increased padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

