.interface-body {
  /* padding: 20px; */
}

.settings-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type='checkbox'] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
