.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 15rem;
  position: relative;
}

.hero-left {
  flex: 1;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.hero-left h1 {
  text-align: left;
  position: relative;
  left: 0;
  font-size: 4.3rem;
  margin: 0;
  margin-bottom: -1rem;
}

.light-color {
  color: var(--text-color-light);
}

.hero-right {
  flex: 1;
  padding-left: 1rem;
  width: 100%;
}

.hero-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.diagonal-lines {
  position: absolute;
  top: 0;
  left: 0;

  width: 400px;
  height: auto;
  z-index: 2;
}
.corner-lines {
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: auto;
  z-index: 2;
}
