.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.userverwaltung-h1{
  text-align: center;
  margin: 20px 0; 
}
.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.user-table th:hover {
  background-color: var(--color-gray);
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  margin: 0 5px;
}

.action-button:hover {
  color: var(--color-secondary);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pagination button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

.create-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.create-button:hover {
  background-color: var(--color-secondary);
}
